<nav _ngcontent-fcj-c21="" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <app-logo></app-logo>
  <a _ngcontent-fcj-c21="" routerLink='/home' class="navbar-brand">{{appName}}</a><button _ngcontent-fcj-c21=""
    type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" style="margin-right: -0.399963px;"><span
      _ngcontent-fcj-c21="" class="navbar-toggler-icon"></span></button>
  <div _ngcontent-fcj-c21="" id="navbarColor01" class="collapse navbar-collapse">
    <ul _ngcontent-fcj-c21="" class="navbar-nav mr-auto">
      <li _ngcontent-fcj-c21="" class="nav-item">
        <a _ngcontent-fcj-c21="" href="#" class="nav-link">
          Congregar <span _ngcontent-fcj-c21="" class="sr-only">(current)</span>
        </a>
      </li>
      <li _ngcontent-fcj-c21="" class="nav-item">
        <a _ngcontent-fcj-c21="" href="#" class="nav-link">
          Agenda de Eventos
        </a>
      </li>
      <li _ngcontent-fcj-c21="" class="nav-item dropdown">
        <a _ngcontent-fcj-c21="" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false" class="nav-link dropdown-toggle">
          Serviço à Cristo
        </a>
        <div _ngcontent-fcj-c21="" class="dropdown-menu">
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Orar por alguém</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Ajudar alguém</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Participar de célula</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Aceitar convite</a>
          <div _ngcontent-fcj-c21="" class="dropdown-divider"></div>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Doar para o bazar</a>
        </div>
      </li>
      <li _ngcontent-fcj-c21="" class="nav-item dropdown">
        <a _ngcontent-fcj-c21="" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false" class="nav-link dropdown-toggle">
          Compartilhar
        </a>
        <div _ngcontent-fcj-c21="" class="dropdown-menu">
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Pedir Oração</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Pedir ajuda</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Abrir uma célula</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Fazer convites</a>
          <div _ngcontent-fcj-c21="" class="dropdown-divider"></div>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Dizimar/Ofertar</a>
        </div>
      </li>
      <li _ngcontent-fcj-c21="" class="nav-item dropdown">
        <a _ngcontent-fcj-c21="" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false" class="nav-link dropdown-toggle">
          Administrar
        </a>
        <div _ngcontent-fcj-c21="" class="dropdown-menu">
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Congregados</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Famílias</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Classe Bíblica</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Grupos</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Células</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Interações</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Canais de Comunicação</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Estágios</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Pedidos de oração</a>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Pedidos de ajuda</a>
          <div _ngcontent-fcj-c21="" class="dropdown-divider"></div>
          <a _ngcontent-fcj-c21="" href="#" class="dropdown-item">Gerenciar Administradores</a>
        </div>
      </li>
      <li _ngcontent-fcj-c21="" class="nav-item">
        <a _ngcontent-fcj-c21="" routerLink='/sobre' class="nav-link">Sobre</a>
      </li>
      <li _ngcontent-fcj-c21="" class="nav-item">
        <a _ngcontent-fcj-c21="" *ngIf='!isLoggedIn()' routerLink='/sign-in' class="nav-link">Entrar</a>
      </li>
      <li _ngcontent-fcj-c21="" class="nav-item">
        <a _ngcontent-fcj-c21="" *ngIf='!isLoggedIn()' routerLink='/sign-up' class="nav-link">Cadastrar-se</a>
      </li>
      <li _ngcontent-fcj-c21="" class="nav-item">
        <a _ngcontent-fcj-c21="" *ngIf='isLoggedIn()' routerLink='/sign-out' class="nav-link">Sair</a>
      </li>!
    </ul>

    <div class="btn btn-default btn-sm" data-width="" data-size="medium" data-button-type="login_with"
      data-layout="default" data-auto-logout-link="true" data-use-continue-as="false" onlogin="isLoggedIn();">
    </div>
  </div>
</nav>
