<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Sair do aplicativo
      </div>
      <div class="card-body">
        Tem certeza que deseja sair?
      </div>
      <div class="card-footer">
        <div class="button-group">
          <button class="btn btn-primary mr-2" (click)='onSubmit();' onmouseup="window.location.href='#'">Sim,
            quero</button>
          <button class="btn btn-secondary" onclick='window.history.go(-1)'>Não, Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
