<div class="container">
  <!--Primeira linha-->
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-header">
          Congregados
        </div>
        <div class="card-body">
          <div class="display-3 text-center">{{congregados}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info">
        <div class="card-header">
          Pedidos de Oração
        </div>
        <div class="card-body">
          <div class="display-3 text-center">{{pedidosOracao}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success">
        <div class="card-header">
          Classes de EBD
        </div>
        <div class="card-body">
          <div class="display-3 text-center">{{classesEscolaBiblica}}</div>
        </div>
      </div>
    </div>
  </div>
  <!--Segunda linha-->
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card text-white bg-warning">
        <div class="card-header">
          Usuários
        </div>
        <div class="card-body">
          <div class="display-3 text-center">{{users}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-dark bg-white">
        <div class="card-header">
          Famílias
        </div>
        <div class="card-body">
          <div class="display-3 text-center">{{familias}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-dark">
        <div class="card-header">
          Grupos
        </div>
        <div class="card-body">
          <div class="display-3 text-center">{{grupos}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
