<div class="jumbotron">

  <pre>

        ### Propósito:

        Uma solução tecnológica _Open-Source_ (Código aberto) que permita melhorar a
        qualidade da proclamação do Evangelho do Senhor Jesus e promover a comunhão do Corpo de Cristo por meio do aumento na
        interação entre os visitantes, congregados e membros entre si e com a organização da Igreja Cristã, a fim de aumentar a
        comunhão do Corpo de Cristo como Igreja e como sociedade, bem como sustentar o número de voluntários aplicados aos
        serviços realizados pela igreja, denominados autodoadores.

        ### Objetivos:

        - Fazer com que as lideranças compreendam a importância e se sintam envolvidas na comunicação com visitantes,
        congregados, membros e sociedade;
        - Aumentar o número de interações das pessoas com com a Igreja nas mídias sociais;
        - Aumentar o número de pessoas com afinidades às novas tecnologias envolvidas no trabalho de comunicação realizado pelas
        lideranças; e
        - Aumentar o número de autodoadores nos diversos trabalhos realizados pelo "Corpo de Cristo".

        ### Benefícios Esperados:

        - Melhor capacidade de comunicação entre os líderes e congregados, resultando na melhora na qualidade do Serviço à
        Cristo;
        - Melhor capacidade de disseminação do Evangelho de Jesus pela Igreja Cristã, por meio das Mídias Sociais;
        - Maior número de jovens envolvidos nas atividades desenvolvidas pelos setores e coordenadorias; e
        - Maior número de autodoadores nos diversos trabalhos realizados pelo "Corpo de Cristo".

      </pre>
  <div class="text-center text-primary">
    <p>
      <a routerLink='/identidade-visual'>Clique aqui e saiba como aplicar sua própria Identidade Visual</a>
    </p>

  </div>

</div>
